{% extends "PiPiBundle::layout.html.twig" %}
{%block content%}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Reservation</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Reservation</h1>
                    <p class="title-desc">Merci pour votre réservation nous vous contactez dans les plus brefs délais.</p>
                </header>
                
                <div class="xs-margin"></div>
            </div>
        </div>
    </div>
</section>
{%endblock%}